/* html {
} */

body {
  font-family: "Palatino Linotype", arial;
  color: $darkColor;
  background-color: $lightColor;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainRed;
}
