/* html {
} */

@font-face {
  font-family: "Palatino Linotype";
  src: "./fonts/Pala.ttf";
}

body {
  // font-family: "Palatino Linotype", arial;
  color: $darkColor;
  background-color: $lightColor;
  min-width: 330px;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainRed;
}

h1 {
  color: $lightColor;
  font-family: "papyrus";
  font-weight: 100;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 1.2rem;
}

h2 {
  color: $lightColor;
  font-family: "papyrus";
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
h3 {
  color: $mainRed;
  font-size: 15px;
}
h4 {
}
h5 {
}
h6 {
  font-family: "papyrus";
  font-size: 8px;
  font-style: italic;
  font-weight: 300;
}
p {
  font-family: "papyrus";
  color: $darkColor;
  font-size: 0.7rem;
  text-align: justify;
}

.invert {
  color: $lightColor;
  background-color: $darkColor;
}

.invert-text {
  color: $lightColor;
}

.invert-bg {
  background-color: $darkColor;
}

.wide-spacing {
  letter-spacing: 0.1rem;
}
.text-center {
  text-align: center;
}
